
.clear-transients ul,
.ls2wp-settings ul{
	list-style:disc outside;
	margin-left:20px;
}

.question-form div{
	break-inside: avoid;
	padding-bottom:10px;
	margin-right:40px;
	border-bottom:1px solid #c4c4c4;	
}

.answer-values ul{
	list-style:disc inside;
}

.answer-value{
	border-collapse:collapse;
}

.answer-value th,
.answer-value td{
	border:1px solid #c4c4c4;
	padding:5px 10px;
}

.answer-value-form h4{
	margin:10px 5px;
	font-weight:700;
}

.question{
	font-size:1.1em;
	border-top:1px solid #c4c4c4;
	padding-top:5px;
	margin-top:10px;
	width:60%;
}


.question-form ul{
	column-count:3;
}

.question-form ul li{
	font-weight:bold;
}

#answer-values,
#select-survey,
#clear-transients,
#select-import-survey{
	color:white;
	background-color:#1859f4;
	cursor:pointer;
}

#answer-values:hover,
#select-survey:hover{
	color:initial;
	background-color:initial;	
}

.clear-transients,
.import-surveys{
	border-top:2px solid grey;
	padding-top:15px;
	width:60%;
}

.clear-transient-form label,
.import-form label{
	display:inline-block;
	width:200px;
	font-size:14px;
	font-weight:600;
	padding:20px 10px 20px 0;
}

.delete-transients-ajax-response,
.import-ajax-response{
	width:600px;
	border:2px solid #1859f4;
	font-weight:bold;
	padding:0 10px;
}

.ls2wp-alert{
	border:3px solid red;
	padding:10px;
	width:60%;
}